# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/

# PyInstaller
build/
dist/

# Ambientes virtuais
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db
Desktop.ini