354 DIALOGEX 0, 0, 259, 349
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Hammer++"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "Gráficos", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 7, 150, 212 
   CONTROL "Geral", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 5, 221, 150, 122 
   CONTROL "&Texture Quality:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 70, 50, 8 
   CONTROL "Habilitar bumpmapping + phong", 1696, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 27, 109, 9 
   CONTROL "&Nível de antisserrilhado:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 99, 58, 8 
   CONTROL "&Filtragem anisotrópica:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 114, 64, 8 
   CONTROL "Habilitar material proxies", 1697, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 47, 88, 10 
   CONTROL "Snap newly created brush points to grid", 1701, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 240, 140, 10 
   CONTROL "Habilitar micrograde ( <1 unit )", 1702, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 230, 99, 10 
   CONTROL "", 1007, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP, 95, 67, 54, 30 
   CONTROL "", 1008, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP, 95, 97, 54, 30 
   CONTROL "", 1009, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP, 95, 112, 54, 30 
   CONTROL "Use current texture for new clipped faces", 1703, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 249, 145, 10 
   CONTROL "Mostrar câmera nas visualizações 2D", 1704, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 127, 98, 10 
   CONTROL "Discord", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 7, 94, 46 
   CONTROL "Habilitar Discord RPC", 1705, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 17, 79, 10 
   CONTROL "Show current status", 1706, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 27, 79, 9 
   CONTROL "Show map name", 1707, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 37, 65, 11 
   CONTROL "Render selections through geometry", 1708, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 167, 129, 10 
   CONTROL "Highlight invalid faces", 1709, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 137, 85, 10 
   CONTROL "Outline invalid brushes", 1710, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 147, 87, 10 
   CONTROL "Habilitar fancy UI styling", 1699, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 17, 109, 10 
   CONTROL "&Model Quality:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 84, 46, 8 
   CONTROL "", 1010, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP, 95, 82, 54, 30 
   CONTROL "Handle Size", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 83, 40, 10 
   CONTROL "", 1700, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 208, 81, 40, 14 
   CONTROL "Use tool cursors", 1712, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 259, 67, 10 
   CONTROL "Gizmo", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 187, 93, 122 
   CONTROL "Resize with view", 1693, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 209, 66, 10 
   CONTROL "Scale multiplier", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 231, 28, 16 
   CONTROL "", 1713, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 197, 233, 37, 14 
   CONTROL "Multiplicador de comprimento", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 250, 28, 18 
   CONTROL "Multiplicador de largura", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 269, 28, 16 
   CONTROL "Opacidade (0-255)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 165, 287, 27, 18 
   CONTROL "", 1717, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 197, 251, 37, 14 
   CONTROL "", 1718, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 197, 269, 37, 14 
   CONTROL "", 1719, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 197, 289, 37, 14 
   CONTROL "Mostrar eixos da câmera", 1694, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 220, 75, 10 
   CONTROL "", 1714, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 208, 64, 40, 14 
   CONTROL "Limite de FPS", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 66, 34, 10 
   CONTROL "Use precise vertex data", 1715, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 269, 89, 10 
   CONTROL "Habilitar cubemaps", 1698, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 37, 109, 9 
   CONTROL "Ignore \"downloads\" folder for mounting ", 1716, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 279, 139, 10 
   CONTROL "Check for updates on startup", 1721, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 289, 110, 10 
   CONTROL "Render fill-in for faces when selected", 1722, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 157, 132, 10 
   CONTROL "Draw 2D model wireframe in selection", 1723, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 176, 134, 10 
   CONTROL "Misc", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 55, 94, 83 
   CONTROL "Use $decalscale for overlay creation", 1729, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 299, 128, 10 
   CONTROL "Texture Increment", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 97, 36, 18 
   CONTROL "", 1711, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 208, 99, 40, 14 
   CONTROL "Use classic missing texture", 1726, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 186, 100, 10 
   CONTROL "Bind middle mouse to camera rotation", 1730, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 309, 138, 10 
   CONTROL "Habilitado", 1695, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 199, 66, 10 
   CONTROL "Invert displacement alpha", 1727, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 196, 97, 10 
   CONTROL "Texture Precision", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 117, 36, 19 
   CONTROL "", 1012, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP, 208, 119, 39, 30 
   CONTROL "Draw textured sprites in 2D view", 1732, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 319, 138, 10 
   CONTROL "UI", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 160, 140, 93, 43 
   CONTROL "DPI Aware", 1720, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 181, 169, 54, 10 
   CONTROL "Se você tiver problemas com a escala da interface, desative isto", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 169, 150, 74, 18 
   CONTROL "Oclusão dinâmica (Melhora o FPS)", 1728, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 206, 125, 10 
   CONTROL "Habilitar HDR", 1724, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 11, 57, 59, 10 
   CONTROL "Use special I/O delimiter (ESC)", 1733, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 329, 142, 10 
   CONTROL "Habilitar Steam support", 1734, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 315, 80, 10 
}
