100 DIALOGEX 0, 0, 341, 305
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hammer++"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "Microsoft Sans Serif"
{
   CONTROL 175, -1, STATIC, SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 341, 305 
   CONTROL "Fechar", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 281, 288, 50, 14 , WS_EX_ACCEPTFILES
}