207 DIALOGEX 0, 0, 259, 285
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Configurações do jogo"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "&Configura\xE7\xF5es:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 7, 51, 8 
   CONTROL "", 1212, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 18, 188, 79 
   CONTROL "&Editar", 1247, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 17, 50, 14 
   CONTROL "&Arquivos de dados do jogo:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 33, 91, 8 
   CONTROL "", 1209, LISTBOX, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_HSCROLL | WS_TABSTOP, 8, 42, 189, 53 
   CONTROL "&Adicionar", 1210, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 41, 24, 14 
   CONTROL "E&ditar", 1215, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 229, 41, 23, 14 
   CONTROL "&Remover", 1211, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 57, 50, 14 
   CONTROL "Default PointEntity class:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 100, 79, 8 
   CONTROL "", 1007, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 8, 110, 112, 90 
   CONTROL "Default SolidEntity class:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 142, 100, 78, 8 
   CONTROL "", 1008, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 142, 110, 109, 90 
   CONTROL "Default texture scale:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 129, 68, 8 
   CONTROL "", 1467, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 128, 25, 14 
   CONTROL "Default lightmap scale:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 119, 130, 71, 8 
   CONTROL "", 1468, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 193, 128, 25, 14 
   CONTROL "Cordon texture:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 148, 49, 8 
   CONTROL "", 1009, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 57, 146, 162, 14 
   CONTROL "Browse", 1466, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 146, 30, 14 
   CONTROL "Game Executable Directory (ex: c:\\Half-Life):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 164, 145, 8 
   CONTROL "", 1453, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 173, 211, 14 
   CONTROL "Browse", 1454, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 173, 30, 14 
   CONTROL "Game Directory (where GameInfo.txt is, ex: c:\\Half-Life\\cstrike):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 191, 212, 8 
   CONTROL "", 1012, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 202, 211, 14 
   CONTROL "Browse", 1399, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 202, 30, 14 
   CONTROL "Hammer VMF Directory (ex: C:\\Half-Life\\maps):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 220, 169, 8 
   CONTROL "", 1011, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 230, 211, 14 
   CONTROL "Browse", 1397, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 230, 30, 14 
   CONTROL "Prefab Directory (ex: C:\\Half-Life\\maps\\prefabs):", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 249, 169, 8 
   CONTROL "", 1013, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 8, 259, 211, 14 
   CONTROL "Browse", 1398, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 259, 30, 14 
}
