315 DIALOGEX 0, 0, 120, 63
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "Selecionar:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 37, 8 
   CONTROL "Grupos", 1097, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 17, 106, 11 
   CONTROL "Objetos", 1194, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 31, 106, 11 
   CONTROL "Solidos", 1164, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 45, 106, 11 
}