140 DIALOGEX 0, 0, 120, 137
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "Grupos de Visualização:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 2, 81, 8 
   CONTROL "Tree1", 1097, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_EDITLABELS | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_TABSTOP, 4, 25, 111, 96 
   CONTROL "", 1645, "SysTabControl32", TCS_TABS | WS_CHILD | WS_VISIBLE, 4, 12, 111, 109 
   CONTROL "Tree2", 1104, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_EDITLABELS | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_HSCROLL | WS_TABSTOP, 4, 25, 111, 96 
   CONTROL "&Exibir", 1470, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 124, 24, 11 
   CONTROL "&Editar", 1091, BUTTON, BS_PUSHBUTTON | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 124, 28, 11 
   CONTROL "&Novo", 1093, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 124, 24, 11 
   CONTROL "&Deletar", 1305, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 124, 28, 11 
   CONTROL "&Selecionar", 1323, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 54, 124, 40, 11 
   CONTROL "VISGROUPMOVEUP", 1012, BUTTON, BS_PUSHBUTTON | BS_ICON | BS_LEFT | BS_TOP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 124, 11, 11 
   CONTROL "", 1011, BUTTON, BS_PUSHBUTTON | BS_ICON | BS_LEFT | BS_TOP | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 105, 124, 11, 11 
}