145 DIALOGEX 0, 0, 657, 217
STYLE DS_SETFONT | WS_MAXIMIZEBOX | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Texturas"
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "", 1028, STATIC, SS_BLACKRECT | WS_CHILD | WS_TABSTOP, 81, 67, 36, 28 
   CONTROL "&Tamanho:", 1265, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 182, 35, 12 
   CONTROL "", 1027, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 35, 182, 50, 70 
   CONTROL "Apenas texturas &utilizadas", 1289, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 1, 200, 95, 10 
   CONTROL "&Filtro:", 1266, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 134, 182, 18, 12 
   CONTROL "", 1269, COMBOBOX, CBS_DROPDOWN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 155, 182, 100, 106 
   CONTROL "&Palavras-chave:", 1487, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 100, 198, 55, 12 
   CONTROL "", 1007, COMBOBOX, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 155, 197, 100, 72 
   CONTROL "", 1267, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 263, 182, 161, 12 
   CONTROL "&Selecionar", 1303, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 196, 50, 14 
   CONTROL "&Substituir", 1257, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 310, 196, 50, 14 
   CONTROL "", 1268, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 360, 197, 58, 12 
   CONTROL "", 1010, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_DISABLED | WS_TABSTOP, 648, 176, 6, 34 
   CONTROL "Opaco", 1528, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 486, 185, 56, 11 
   CONTROL "Transparente", 1529, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 486, 197, 56, 11 
   CONTROL "SelfIllum", 1530, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 544, 185, 56, 11 
   CONTROL "EnvMask", 1531, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 544, 197, 56, 11 
   CONTROL "Exibir Erros", 1532, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 600, 185, 56, 11 
   CONTROL "Re&carregar", 1304, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 426, 196, 50, 14 
   CONTROL "&Abrir local", 1305, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 426, 180, 50, 14 
   CONTROL "Exibir Alfa", 1533, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 600, 197, 56, 11 
}