162 DIALOGEX 0, 0, 120, 103
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "Brush", -32663, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 3, 32, 14 
   CONTROL "Entidade", 1110, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 77, 3, 38, 14 
   CONTROL "&Categorias:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 21, 36, 8 
   CONTROL "", 1010, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 3, 30, 113, 97 
   CONTROL "&Objetos:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 45, 27, 8 
   CONTROL "", 1007, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 3, 54, 112, 154 
   CONTROL "", 1009, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 30, 70, 23, 14 
   CONTROL "Spin1", 1008, "msctls_updown32", UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 53, 70, 11, 14 
   CONTROL "&Insert original prefab", 1219, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 16, 70, 86, 14 
   CONTROL "&Criar Prefab", -32603, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 86, 86, 14 
   CONTROL "Transformar seleção em:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 2, 42, 17 
   CONTROL "default", -32637, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD, 15, 87, 88, 14 
   CONTROL "Random Yaw", 1278, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 73, 59, 10 
}