171 DIALOGEX 0, 0, 120, 83
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "", 1007, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWVARIABLE | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 5, 13, 110, 301 
   CONTROL "", 1109, STATIC, SS_BLACKRECT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 6, 29, 50, 50 
   CONTROL "", 1027, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 31, 39, 12 
   CONTROL "&Procurar...", 1010, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 47, 52, 14 
   CONTROL "Textura atual:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 3, 72, 8 
   CONTROL "&Substituir...", 1257, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 64, 52, 14 
}