185 DIALOGEX 0, 0, 192, 238
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Run Map"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "Run BSP", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 3, 178, 52 
   CONTROL "No", 1137, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 13, 25, 10 
   CONTROL "Normal", 1169, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 25, 38, 11 
   CONTROL "Only entities", 1170, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 40, 108, 11 
   CONTROL "Run VIS", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 58, 178, 51 
   CONTROL "No", 1455, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 67, 25, 10 
   CONTROL "Normal", 1456, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 80, 38, 10 
   CONTROL "Fast", 1457, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 93, 29, 10 
   CONTROL "Run RAD", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 113, 178, 51 
   CONTROL "No", 1458, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 14, 123, 25, 10 
   CONTROL "Normal", 1140, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 136, 38, 10 
   CONTROL "Fast", 1141, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 149, 32, 10 
   CONTROL "HDR", 1648, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 121, 32, 10 
   CONTROL "Don't run the game after compiling", 1138, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 166, 123, 10 
   CONTROL "Additional game parameters:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 186, 109, 8 
   CONTROL "", 1161, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 197, 178, 14 
   CONTROL "E&xpert...", 1226, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 216, 55, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 216, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 216, 50, 14 
   CONTROL "Wait for keypress when done compiling", 1262, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 7, 176, 139, 10 
}