174 DIALOGEX 0, 0, 273, 196
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "General"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "Window Setup", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 44, 258, 45 
   CONTROL "Use independent window configurations", 1339, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 58, 142, 10 
   CONTROL "Load default window positions with maps", 1338, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 71, 144, 10 
   CONTROL "Autosave", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 92, 258, 97 
   CONTROL "Enable Autosave", 1651, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 106, 70, 10 
   CONTROL "Time Between Saves (in minutes)", 1652, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 119, 108, 9 
   CONTROL "", 1009, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 116, 30, 13 
   CONTROL "Amount of hard drive space used for autosaves (in megabytes)", 1653, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 132, 197, 8 
   CONTROL "", 1010, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 218, 130, 30, 13 
   CONTROL "Number of map iterations to save", 1654, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 145, 104, 8 
   CONTROL "", 1011, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 123, 142, 30, 13 
   CONTROL "Autosave Directory", 1655, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 13, 156, 61, 8 
   CONTROL "", 1649, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 167, 216, 14 
   CONTROL "Browse", 1650, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 166, 30, 14 
   CONTROL "&Undo levels:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 10, 40, 8 
   CONTROL "", 1189, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 58, 7, 27, 14 
   CONTROL "Spin1", 1008, "msctls_updown32", UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 84, 7, 8, 14 
   CONTROL "Allow grouping/ungrouping while Ignore Groups is checked.", 1401, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 13, 27, 204, 10 
}
