179 DIALOGEX 0, 0, 255, 237
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "2D views"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 6, 241, 128 
   CONTROL "Default to default degree rotations", 1163, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 18, 119, 10 
   CONTROL "Display scrollbars", 1165, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 30, 70, 10 
   CONTROL "Draw Vertices", 1166, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 42, 70, 10 
   CONTROL "Use Visgroup colors for object lines", 1351, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 67, 114, 18 
   CONTROL "Keep visgroup when clone-dragging", 1295, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 85, 108, 24 
   CONTROL "Center on camera after movement in 3D", 1331, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 90, 84, 20 
   CONTROL "Arrow keys nudge selected object/vertex", 1281, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 18, 108, 18 
   CONTROL "Reorient primitives on creation in the active 2D view", 1282, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 36, 108, 18 
   CONTROL "Automatic infinite selection in 2D windows (no ENTER)", 1283, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 54, 108, 18 
   CONTROL "Select objects by center handles only", 1285, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 72, 108, 18 
   CONTROL "Grid", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 142, 241, 88 
   CONTROL "Highlight every 64 units", 1321, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 171, 89, 10 
   CONTROL "Highlight every ", 1270, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 185, 60, 10 
   CONTROL "", 1290, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 183, 20, 14 
   CONTROL "grid lines", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 99, 186, 28, 8 
   CONTROL "Hide grid smaller than 4 pixels", 1271, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 199, 111, 10 
   CONTROL "Highlight every 1024 units", 1465, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 213, 98, 10 
   CONTROL "Dotted Grid", 1322, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 156, 57, 10 
   CONTROL "Draw Models", 1167, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 54, 70, 10 
   CONTROL "", 1291, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 208, 112, 30, 14 
   CONTROL "Default degree rotation:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 129, 114, 75, 8 
   CONTROL "Grid scaling interval:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 136, 156, 64, 8 
   CONTROL "", 1292, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 207, 154, 30, 14 
   CONTROL "Grid intensity/color can be edited in the hammerplusplus_settings.ini file under [Colors] section", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 134, 190, 106, 29 
}