199 DIALOGEX 0, 0, 257, 297
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "3D views"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "Microsoft Sans Serif"
{
   CONTROL "&Performance", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 242, 111 
   CONTROL "&Back clipping plane:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 21, 65, 8 
   CONTROL "Slider1", 1283, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 90, 17, 122, 15 
   CONTROL "5000", 1284, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 20, 28, 8 
   CONTROL "Filter te&xtures", 1452, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 37, 85, 10 
   CONTROL "&Animate models", 1416, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 36, 65, 10 
   CONTROL "&Model render distance:", 1461, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 55, 73, 8 
   CONTROL "Slider1", 1414, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 51, 122, 15 
   CONTROL "5000", 1415, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 55, 28, 8 
   CONTROL "&Detail render distance:", 1464, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 78, 72, 8 
   CONTROL "", 1412, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 74, 122, 15 
   CONTROL "5000", 1413, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 78, 28, 8 
   CONTROL "&Navigation", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 128, 242, 87 
   CONTROL "&Reverse mouse Y axis", 1221, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 153, 141, 86, 10 
   CONTROL "&Forward speed:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 177, 51, 8 
   CONTROL "Slider1", 1424, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 176, 122, 15 
   CONTROL "1000", 1426, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 214, 177, 28, 8 
   CONTROL "&Time to top speed:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 196, 61, 8 
   CONTROL "Slider2", 1425, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 195, 122, 15 
   CONTROL "1000", 1427, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 214, 196, 28, 8 
   CONTROL "&General", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 220, 242, 54 
   CONTROL "Reverse &selection order", 1460, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 238, 92, 10 
   CONTROL "Camera FOV (1-179)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 118, 230, 73, 10 
   CONTROL "", 1659, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 200, 228, 40, 14 
   CONTROL "Light_spot Cone Multiplier", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 118, 243, 73, 18 
   CONTROL "", 1660, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 199, 246, 40, 14 
   CONTROL "&Reverse mouse X axis", 1222, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 141, 86, 10 
   CONTROL "&Mouse sensitivity:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 158, 65, 8 
   CONTROL "", 1428, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 156, 122, 15 
   CONTROL "1000", 1429, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 214, 158, 28, 8 
   CONTROL "&Near clipping plane:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 99, 64, 8 
   CONTROL "", 1285, "msctls_trackbar32", TBS_HORZ | TBS_BOTH | TBS_NOTICKS | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 90, 97, 122, 15 
   CONTROL "5000", 1286, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 101, 28, 8 
}